<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Projeto_Desktop.Properties.Settings.SysCarConnectionString"
            connectionString="Data Source=DESKTOP-P8BLD71\SQLEXPRESS;Initial Catalog=SysCar;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>